@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
// font 
$primaryFont:'Poppins', sans-serif;

// color
$primaryColor: #06c755;
$secondColor: #10a1a1; 
