@import "../../../assets/css/variabels";

.card-content {
    font-family: $primaryFont;

    .card-title-body {
        color: black;
        padding-bottom: 10px !important;
    }
    .card-title.h5 {
        font-size: 18px;
        &:hover {
            color: $secondColor;
        }
    }
    .card-text {
        font-size: 12px;
    }
    .btn-card-addBookmark {
        background-color: $primaryColor;
        border: none;
        &:hover {
            background-color: $secondColor;
        }
    }

    .btn-card-removeBookmark {
        background-color:  $secondColor;
        border: none;
        &:hover {
            background-color: rgb(180, 0, 0);
        }
    }
}